#canvas-wrap { 
    overflow-y: hidden; 
    overflow-x: hidden; 
    position:relative; 
    margin: auto;

}
#overlay { 
    position:absolute; 
    background-color: black;
    color: white;
    margin:0px; 
    padding: 15px; 
    opacity: 0.7;
    border: 3px solid white;
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
}
#typed{
    padding: 10px;
  color: white;
  font-size: 30px;
}
#overlay_bottom { position:absolute; top:105%; left:80%; transform: translate(-50%, -50%);}

#type-wrap{
    margin: auto;
}
        /* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }